body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: Raleway, sans-serif;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, blockquote,
address {
  margin: 0;
  padding: 0;
  font-style: normal;
}

.header {
  background-color: blue;
  display: grid;
  margin: 92px 50px;
  width: 1340px;
  height: 109px;
  font-size: 18px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 109px;
}

.navigation {
  align-self: center;
}

.menu_list {
  background-color: blueviolet;
  align-self: center;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 23px;
}

.li_type_1 {
  list-style-type: none;
}

.a_style_1 {
  text-decoration: none;
}

.li_type_2 {
  list-style-type: circle;
}

.header_logo_image {
  width: 148px;
  height: 105px;
  align-self: start;
  justify-self: center;
}

.contact_list {
  align-self: center;
  justify-self: end;
  display: grid;
  background-color: crimson;
  grid-template-columns: 1fr;
}